// usage: .box { @include border-radius(10px); }
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin min($minWidth) {
    @media all and (min-width: $minWidth) { @content; }
}

@mixin max($maxWidth) {
    @media all and (max-width: $maxWidth) { @content; }
}